<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Database Cosmetics</title>
    <link rel="stylesheet" href="css/bootstrap_lux.css" />
  
</head>
<body>
    <nav class="navbar nav-tabs">
        <h1>Database Cosmetics</h1>
        
            <a class="nav-link text-dark" asp-controller="CosmTypes" value="Get">Types</a>
        
        <h4 align="right">Can`t stop won`t stop</h4>
    </nav>
    
    <div class="col-md-4">
        <h3> Add Collection</h3>
        <form action="javascript:void(0);" method="POST" onsubmit="addCollection()">
            <input type="text" id="add-name" placeholder="New Collection">
            <input type="text" id="add-info" placeholder="New Info">
            <input class="btn btn-dark" type="submit" value="Add">
        </form>
    </div>
     <div class="col-md-4" id="editColection">
     <h3> Edit</h3>
     <form action="javascript:void(0);" onsubmit="updateCollection()">
         <input type="hidden" id="edit-id">
         <input type="text" id="edit-name">
         <input type="text" id="edit-info">
         <input class="btn btn-dark" type="submit" value="Save">
         <!--<a onclick="closeInput()" aria-label="Close"> &#10006;</a>-->
     </form>
        </div>

    <p id="counter"> </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody id="collections"> </tbody>
        </table>
    
    

    <script src="js/DBCCollections.js" asp-append-version="true"></script>
    <script type="text/javascript">
        getCollections();
    </script>
</body>
</html >

